extends ../layouts/default

block content
	#hero: .container
		h1 Sampson Tan
		h1 Software engineer who can pick new technology up quickly and can manage stakeholders relationships
		
	.container: .row
		.col-sm-8
			h2
				span  Nice to meet you!
			
			#accordion.panel-group
				.panel.panel-default
					.panel-heading: h3.panel-title: a(class="accordion-toggle", data-toggle="collapse", data-parent="#accordion", href="#collapseBlog") Experience
					#collapseBlog.panel-collapse.collapse.in: .panel-body
						p  With over five years of working experience, in HK, Shen Zhen and Sweden 
						P  Graduation from double degree in computing and business administration
		
						a(href='/blog').btn.btn-default View the Experience
				
				.panel.panel-default
					.panel-heading: h3.panel-title: a(class="accordion-toggle", data-toggle="collapse", data-parent="#accordion", href="#collapseGallery") Gallery
					#collapseGallery.panel-collapse.collapse.in: .panel-body
						p Example of how to set up a page that displays multiple image galleries.
						p Demonstrates usage of single and multi image fields and their resizing methods.
						p You can sign in using the demo account to create and manage image galleries, and upload additional images (nothing offensive, please!)
						a(href='/gallery').btn.btn-default View the Gallery
				
				.panel.panel-default
					.panel-heading: h3.panel-title: a(class="accordion-toggle", data-toggle="collapse", data-parent="#accordion", href="#collapseContact") Contact form
					#collapseContact.panel-collapse.collapse.in: .panel-body
						p Simple contact form that validates input and logs enquiries to the database.
						p You can sign in using the demo account to view the submitted enquiries.
						a(href='/contact').btn.btn-default View the Contact Form
				
		.col-sm-4
			h2
				span.entypo.entypo-key
				span  Admin UI
			dl.dl-horizontal
				dt Username
				dd demo@keystonejs.com
				dt Password
				dd demo
			p You can use the Admin UI to create your own user, and write a blog post - try it out!
			p: a(href='/keystone/signin').btn.btn-default Sign in to get started
			p.text-muted Be warned though, the database will be reset from time to time.

